.btn {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0082fc;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  transition: 0.5s;


  &__icon {
    margin-right: 8px;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.15px;

    color: #fafafa;
  }

  &:hover {
    background: #0082fc;
  }
  &:active {
    background: #0e73d1;
    border-color: #0e73d1;
  }
}
.btn_accent {
  background: #0082fc;
  border-color: #0082fc;
  color: white;
  &:hover {
    border-color: #0e73d1;
    background: #0e73d1;
  }
}
